.button {
  background: $button-dark;
  color: white;
  border-radius: 30px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11pt;
}

.button-primary {
  background: $primary-color;
}

