.input-search {
  display: inline;
  padding: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 0;
  background-color: #eeeeee;
}

.input-chat-message {
  display: block;
  height: 100px;
  width: 100%;
}