.header {
  box-shadow: 0px 1px 3px #e2e2e2;
  margin-bottom: 8px;
  padding: 16px;
}

.header-logo {
  color: black;
  text-decoration: none;
  display: block;
}

.header-logo h1 {
  color: $main-color;
  margin: 0;
  text-transform: lowercase;
  font-weight: 200;
}

.conditional-links {
  display: inline;
}

.header-link {
  cursor: pointer;
  display: inline;
  color: #3a3a3a;
  margin-right: 12px;
  text-decoration: none;

}

.search-container {
  display: inline-block;
}

