.header {
  box-shadow: 0px 1px 3px #e2e2e2;
  margin-bottom: 8px;
  padding: 32px;
}

.header-logo {
  color: black;
  text-decoration: none;
  display: inline;
  margin-right: 12px;
}

.header-logo h1 {
  color: $primary-color;
  margin: 0;
  text-transform: lowercase;
  font-weight: 200;
  margin-bottom: 12px;
  display: inline;

}

.conditional-links {
  display: inline;
}

.header-link {
  cursor: pointer;
  display: inline;
  color: #3a3a3a;
  margin-right: 12px;
  text-decoration: none;

}


