.header {
  background: white;
  box-shadow: 0 1px 3px #e2e2e2;
  margin-bottom: 8px;
  padding: 16px 120px 16px;
}

.header-logo {
  color: black;
  text-decoration: none;
  display: inline;
  margin-right: 12px;
}

.header-logo h1 {
  color: $primary-color;
  margin-right: 10px;
  text-transform: lowercase;
  font-weight: 200;
  display: inline;

}

.conditional-links {
  display: inline;
}

.header-link {
  cursor: pointer;
  display: inline;
  color: #3a3a3a;
  margin-right: 16px;
  text-decoration: none;
  font-size: 11pt;
  letter-spacing: 1.4px;
}

.header-profile {
  background: #464646;
  padding: 8px;
  border-radius: 8px;
  color: white;
}
