.post {
  padding: 16px;
  border: 1px solid #cccccc;
  margin-bottom: 16px;
  border-radius: 8px;
}

.post-author, .post-date {
  color: $detail-text-color;
  font-size: 9pt;
}

.post-author {
  font-weight: bold;
}

.post-content {
  font-size: 16pt;
}

.post-date {
  font-weight: bold;
}

.post-image {

}
