html {
  font-size: 62.5%; }

body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  padding: 0;
  margin: 0; }

.content-wrapper {
  margin: 16px; }

button {
  cursor: pointer;
  transition: 0.12s all; }

button:disabled {
  cursor: default; }

.button {
  background: #252525;
  color: white;
  border-radius: 30px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11pt; }

.message {
  background: lightblue;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  opacity: 1;
  transition: 0.2s all; }

.message:hover {
  opacity: 0.8; }

.message-author {
  font-weight: bold; }

.message-content {
  font-size: 24pt; }

.header {
  box-shadow: 0px 1px 3px #e2e2e2;
  margin-bottom: 8px;
  padding: 16px; }

.header-logo {
  color: black;
  text-decoration: none;
  display: block; }

.header-logo h1 {
  color: #2326ce;
  margin: 0;
  text-transform: lowercase;
  font-weight: 200; }

.header-link {
  cursor: pointer;
  display: inline;
  color: #3a3a3a;
  margin-right: 12px;
  text-decoration: none; }

.search-container {
  display: inline-block; }

.input-search {
  display: inline;
  padding: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 0;
  background-color: #eeeeee; }

.input-chat-message {
  display: block;
  height: 100px;
  width: 100%; }

.login-section {
  padding: 16px;
  border: 1px dashed black; }

.validation-message {
  border: 1px solid black;
  padding: 16px;
  transition: 0.2s all; }

.post {
  padding: 16px;
  border: 1px dashed black;
  margin-bottom: 8px; }

.post-author, .post-date {
  color: #3b3b3b;
  font-size: 9pt; }

.post-author {
  font-weight: bold; }

.post-content {
  font-size: 16pt; }

.post-date {
  font-weight: bold; }

