html {
  font-size: 62.5%; }

body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem; }

button {
  cursor: pointer;
  transition: 0.12s all; }

button:disabled {
  cursor: default; }

.button {
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 8px;
  font-weight: bold;
  cursor: pointer; }

.message {
  background: lightblue; }

.message-author {
  font-weight: bold; }

.message-content {
  font-size: 24pt; }

.header {
  border-bottom: 1px solid gray;
  margin-bottom: 8px; }

.header-logo {
  color: black;
  text-decoration: none;
  display: block; }

.header-link {
  cursor: pointer;
  display: inline;
  color: black;
  margin-right: 12px;
  text-decoration: none; }

.search-input {
  display: inline;
  padding: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 0;
  background-color: #eeeeee; }

.loginSection {
  padding: 16px;
  border: 1px dashed black; }

.post {
  padding: 16px;
  border: 1px dashed black; }

.post-author {
  font-weight: bold; }

.post-content {
  font-size: 16pt; }

