html {
  font-size: 62.5%;
}

body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  padding: 0;
  margin: 0;

}

#root {
  background: $background-color;

}


.content-wrapper {
  margin: 32px 120px 32px;

}

button {
  cursor: pointer;
  transition: 0.12s all;
}

button:disabled {
  cursor: default;
}